<div class="row">
  <div class="col-md-3">
    <%= render 'item_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        値段
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @items do |f| %>

            <div class="row">
              <div class="form-group">
                <label>値段</label>
                <%= f.number_field :price, placeholder: "￥100",id: "price", class: "form-control", required: true, min: 0, max: 10000000 %>
              </div>
            </div>

            <div class="text-center">
              <%= f.submit "値段設定保存", class: "btn btn-form" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
