<div class="row">
  <div class="col-md-3">
    <%= render 'item_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Rental Area
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @items do |f| %>

            
            <div class="row">
              <div class="form-group">
                <label>Rental Area</label>
                <%= f.text_field :address, placeholder: "What is your rental area?", class: "form-control", required: true, id: "autoaddress" %>
              </div>
            </div>

            <div class="text-center">
              <%= f.submit "Save", class: "btn btn-form" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
